body {
    background-color: black;
}

.section {
    opacity: 0.6;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.section.image-visible {
    opacity: 1;
    transform: translateY(0);
}
#home{
    display: flex;
    flex-direction: column;

    background-image: url('/images/starrynight.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header{
    padding: 10px 10%;
    /*
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    */
}

nav {
    display: flex; /* made items side by side*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav h1 {
    color: silver;
    font-size: 30px;
    font-family: 'NeueMontreal';
    margin-left: 15px;
}

nav ul li {
    display: inline-block; /* makes it in 1 line */
    list-style: none;
    margin: 10px 20px; /* 10 from tb & 20 from lr*/
    font-family: 'NeueMontreal';
}

nav ul li a {
    color: silver;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.header-text h1{
    margin-top: 0%;
    margin-bottom: 0.2%;
    width: 100%;
    text-align: center;
    font-family: 'NeueMontreal';
    font-size: 80px;
    color: silver;
}

.header-text h1 span{
    color: rgb(228, 157, 157);
}

.header-text p{
    margin-top: 0.2%;
    width: 100%;
    text-align: center;
    font-family: 'NeueMontreal';
    font-size: 25px;
    color: silver;
}


@font-face {
    font-family: "NeueMontreal";
    src: url('fonts/NeueMontreal-Bold.otf'), 
        url('fonts/NeueMontreal-Regular.otf'),
        url('fonts/NeueMontreal-Light.otf'),
        url('fonts/NeueMontreal-BoldItalic.otf');
    font-weight: normal;
    font-style: normal;
}

/* About */
#about {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    height: 75vh;
    width: 100%;
    background-image: url(images/darkblue.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
}

#about h1 {
    /*margin-top: 4%;*/
    position: relative;
    color: grey;
    font-family: 'NeueMontreal';
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
}


#about h1::after {
    opacity: 1;
    content: '';
    display: block;
    margin: 0 auto; /* centers line horizontally under*/
    width: 60%; /*length of line*/
    height: 2px;
    background-color: grey;
    margin-top: 7px;
}

#about p{
    margin-top: 0;
    color: black;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Projects*/
#projects {
    padding: 50px 0;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 75vh;
}
.sub-title{
    animation: fadeLeftRight 1s ease-in-out forwards;
    padding-left: 10px;
    font-family: 'NeueMontreal';
    color: silver;
}
.sub-title::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.75s ease;
}

.sub-title:hover::after {
    width: 100%;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 300px;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.work:hover img {
    transform: scale(1.1);
}

@keyframes fadeLeftRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}